<!DOCTYPE html>
<html>

<head>
  <title>
    Database Interface
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <Database Interface />
  </h1>
  <p>Welkom op de Database interface home page
  </p>

  <br>
  <button><a href='http://localhost:3000/filmcast' alt='Broken Link'>Naar filmcast</a></button>
  <br>
  <button><a href='http://localhost:3000/filmcrew' alt='Broken Link'>Naar flimcrew</a></button>
  <br>
  <button><a href='http://localhost:3000/crew' alt='Broken Link'>Naar crew</a></button>
  <br>
  <button><a href='http://localhost:3000/productiehuis' alt='Broken Link'>Naar productiehuis</a></button>
  <br>
  <button><a href='http://localhost:3000/film' alt='Broken Link'>Naar films</a></button>
  <br>
  <button><a href='http://localhost:3000/users' alt='Broken Link'>Naar Acteurs</a></button>
</body>

</html>